CAAMLv5_BulletinEAWS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Pascal Haegeli (Avisualanche Consulting) -->
<schema xmlns:caaml="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0.1">
	<!-- <import namespace="http://www.opengis.net/gml" schemaLocation="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/CAAMLv5_BulletinEAWS_GML.xsd"/> -->
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/xlinks.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://caaml.org/Schemas/V5.0/Profiles/BulletinEAWS/xml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd" />
	<!--*******************************-->
	<!--***        WRAPPER         ***-->
	<!--*******************************-->
	<element name="CaamlData" type="caaml:CaamlDataType"/>
	<complexType name="CaamlDataType">
		<sequence>
			<element name="metaDataProperty">
				<complexType>
					<sequence>
						<element name="MetaData" type="caaml:CaamlMetaDataType"/>
					</sequence>
				</complexType>
			</element>
			<element ref="caaml:aspects" minOccurs="0"/>
			<element ref="caaml:elevations" minOccurs="0"/>
			<element ref="caaml:operations" minOccurs="0"/>
			<element ref="caaml:locations" minOccurs="0"/>
			<element ref="caaml:observations" minOccurs="0"/>
		</sequence>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<!--************************************************-->
	<!--***        META DATA ELEMENTS         ***-->
	<!--************************************************-->
	<complexType name="CaamlMetaDataType">
		<complexContent>
			<restriction base="caaml:MetaDataBaseType">
				<sequence>
					<element name="dateTimeReport" type="gml:TimePositionType"/>
					<element name="srcRef" type="caaml:SourceRefType"/>
					<element ref="caaml:comment" minOccurs="0"/>
					<element ref="caaml:customData" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--***-->
	<complexType name="ObsMetaDataType">
		<complexContent>
			<extension base="caaml:ObsMetaDataBaseType"/>
		</complexContent>
	</complexType>
	<complexType name="ObsMetaDataBaseType">
		<complexContent>
			<restriction base="caaml:MetaDataBaseType">
				<sequence>
					<element name="dateTimeReport" type="gml:TimePositionType"/>
					<element name="srcRef" type="caaml:SourceRefType"/>
					<element ref="caaml:comment" minOccurs="0"/>
					<element ref="caaml:customData" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--***-->
	<complexType name="ExtFileMetaDataType">
		<complexContent>
			<extension base="caaml:MetaDataBaseType"/>
		</complexContent>
	</complexType>
	<!--***-->
	<complexType name="LocMetaDataType">
		<complexContent>
			<extension base="caaml:MetaDataBaseType"/>
		</complexContent>
	</complexType>
	<!--***-->
	<complexType name="MetaDataBaseType">
		<sequence>
			<element name="dateTimeReport" type="gml:TimePositionType" minOccurs="0"/>
			<element name="srcRef" type="caaml:SourceRefType" minOccurs="0"/>
			<element ref="caaml:comment" minOccurs="0"/>
			<element ref="caaml:customData" minOccurs="0"/>
		</sequence>
	</complexType>
	<!--***-->
	<!--****************************************************-->
	<!--***        MAIN BULLETIN ELEMENTS         ***-->
	<!--****************************************************-->
	<element name="ObsCollection" type="caaml:ObsCollectionType"/>
	<complexType name="ObsCollectionType">
		<sequence>
			<element name="metaDataProperty" minOccurs="0">
				<annotation>
					<documentation>Property element for location meta data</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="MetaData" type="caaml:ObsMetaDataType"/>
					</sequence>
				</complexType>
			</element>
			<element ref="caaml:observations"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<element name="observations">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element ref="caaml:Bulletin"/>
			</sequence>
		</complexType>
	</element>
	<!--***-->
	<element name="Bulletin" type="caaml:BulletinType" substitutionGroup="gml:AbstractFeature" />
	<complexType name="BulletinType" final="#all">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
			<sequence>
				<element name="metaDataProperty">
					<complexType>
						<sequence>
							<element name="MetaData" type="caaml:ObsMetaDataType"/>
						</sequence>
					</complexType>
				</element>
				<element ref="caaml:validTime"/>
				<element name="bulletinResultsOf">
					<complexType>
						<sequence>
							<element ref="caaml:BulletinMeasurements"/>
						</sequence>
					</complexType>
				</element>
				<element ref="caaml:locRef"/>
			</sequence>
			<!-- <attribute ref="gml:id" use="required"/>
				<attribute ref="xml:lang" use="optional"/> -->
			</extension>
		</complexContent>
	</complexType>
	<!--***-->
	<element name="BulletinMeasurements" type="caaml:BulletinMeasurementsType"/>
	<complexType name="BulletinMeasurementsType" final="#all">
		<complexContent>
			<extension base="caaml:ObsMeasurementsType">
				<sequence>
					<element name="dangerRatings" minOccurs="0">
						<annotation>
							<documentation>Complex property element type of list of danger ratings</documentation>
						</annotation>
						<complexType>
							<sequence maxOccurs="unbounded">
								<element name="DangerRating" type="caaml:DangerRatingType"/>
							</sequence>
						</complexType>
					</element>
					<element name="dangerPatterns" minOccurs="0">
						<annotation>
							<documentation>Complex property element type of list of danger patterns</documentation>
						</annotation>
						<complexType>
							<sequence maxOccurs="unbounded">
								<element name="DangerPattern" type="caaml:DangerPatternType"/>
							</sequence>
						</complexType>
					</element>
					<element name="avProblems" minOccurs="0">
						<annotation>
							<documentation>Complex property element type of list of avalanche problems</documentation>
						</annotation>
						<complexType>
							<sequence maxOccurs="unbounded">
								<element name="AvProblem" type="caaml:AvProblemType"/>
							</sequence>
						</complexType>
					</element>
					<element name="wxSynopsisHighlights" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for highlights of weather synopsis</documentation>
						</annotation>
					</element>
					<element name="wxSynopsisComment" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for weather synopsis</documentation>
						</annotation>
					</element>
					<element name="avActivityHighlights" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for highlights of avalache activity</documentation>
						</annotation>
					</element>
					<element name="avActivityComment" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for avalanche activity</documentation>
						</annotation>
					</element>
					<element name="snowpackStructureHighlights" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for highlights of snowpack structure</documentation>
						</annotation>
					</element>
					<element name="snowpackStructureComment" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for snowpack structure</documentation>
						</annotation>
					</element>
					<element name="travelAdvisoryHighlights" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for highlights of travel advisory</documentation>
						</annotation>
					</element>
					<element name="travelAdvisoryComment" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for travel advisory</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ObsMeasurementsType" abstract="true">
		<sequence>
			<element ref="caaml:extFiles" minOccurs="0"/>
			<element ref="caaml:customData" minOccurs="0"/>
			<element ref="caaml:comment" minOccurs="0"/>
			<element name="highlights" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for general highlight</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!--***-->
	<!--*****************************************************************************************************************-->
	<!--***        DANGER RATING,  DANGER PATTERN AND AVALANCHE PROBLEM ELEMENTS         ***-->
	<!--*****************************************************************************************************************-->
	<complexType name="DangerRatingType">
		<sequence>
			<element ref="caaml:locRef" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="caaml:validTime" minOccurs="0"/>
			<element ref="caaml:validAspect" minOccurs="0" maxOccurs="unbounded"/>
			<element ref="caaml:validElevation" minOccurs="0" maxOccurs="unbounded"/>
			<element name="terrainFeature" type="string" minOccurs="0">
				<annotation>
					<documentation>property element for the description of relevant terrain features</documentation>
				</annotation>
			</element>
			<sequence>
				<element name="mainValue" type="caaml:DangerRatingValueType"/>
				<element name="pocketValue" type="caaml:DangerRatingValueType" minOccurs="0"/>
			</sequence>
			<element ref="caaml:comment" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="DangerRatingValueType" final="#all">
		<union memberTypes="gml:NilReasonEnumeration caaml:DangerRatingValueBaseType"/>
	</simpleType>
	<simpleType name="DangerRatingValueBaseType">
		<restriction base="string">
			<enumeration value="1"/>
			<enumeration value="2"/>
			<enumeration value="3"/>
			<enumeration value="4"/>
			<enumeration value="5"/>
			<enumeration value="n/a"/>
		</restriction>
	</simpleType>
	<!--***-->
	<complexType name="DangerPatternType">
		<sequence>
			<element name="type" type="caaml:DangerPatternTypeType">
				<annotation>
					<documentation>Property element for name of danger pattern</documentation>
				</annotation>
			</element>
			<element ref="caaml:validTime" minOccurs="0"/>
			<element ref="caaml:validAspect" minOccurs="0" maxOccurs="8"/>
			<element ref="caaml:validElevation" minOccurs="0"/>
			<element ref="caaml:comment" minOccurs="0"/>
			<element ref="caaml:customData" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="DangerPatternTypeType">
		<restriction base="string">
			<enumeration value="DP1"/>
			<enumeration value="DP2"/>
			<enumeration value="DP3"/>
			<enumeration value="DP4"/>
			<enumeration value="DP5"/>
			<enumeration value="DP6"/>
			<enumeration value="DP7"/>
			<enumeration value="DP8"/>
			<enumeration value="DP9"/>
			<enumeration value="DP10"/>
		</restriction>
	</simpleType>
	<!--***-->
	<complexType name="AvProblemType">
		<sequence>
			<element name="type" type="caaml:AvProblemTypeType">
				<annotation>
					<documentation>Property element for name of avalanche problem</documentation>
				</annotation>
			</element>
			<element ref="caaml:validTime" minOccurs="0"/>
			<element ref="caaml:validAspect" minOccurs="0" maxOccurs="8"/>
			<element ref="caaml:validElevation" minOccurs="0"/>
			<element name="expectedAvSize" type="string" minOccurs="0">
				<annotation>
					<documentation>Property element for expected avalanche sizes</documentation>
				</annotation>
			</element>
			<element ref="caaml:comment" minOccurs="0"/>
			<element ref="caaml:customData" minOccurs="0"/>
		</sequence>
	</complexType>
	<simpleType name="AvProblemTypeType">
		<restriction base="string">
			<enumeration value="new snow"/>
			<enumeration value="drifting snow"/>
			<enumeration value="old snow"/>
			<enumeration value="wet snow"/>
			<enumeration value="gliding snow"/>
			<enumeration value="favourable situation"/>
		</restriction>
	</simpleType>
	<!--***-->
	<!--**********************************************************-->
	<!--***        SOURCE REFERENCE ELEMENTS         ***-->
	<!--**********************************************************-->
	<complexType name="SourceRefType">
		<choice minOccurs="0">
			<element ref="caaml:Operation"/>
		</choice>
		<attribute ref="xlink:href" use="optional"/>
	</complexType>
	<complexType name="SourceType">
		<sequence>
			<element ref="caaml:customData" minOccurs="0"/>
			<element name="name" type="string"/>
		</sequence>
		<attribute ref="gml:id" use="required"/>
	</complexType>
	<!--***-->
	<element name="OperationCollection" type="caaml:OperationCollectionType"/>
	<complexType name="OperationCollectionType">
		<sequence>
			<element name="metaDataProperty" minOccurs="0">
				<complexType>
					<sequence>
						<element name="MetaData" type="caaml:MetaDataBaseType"/>
					</sequence>
				</complexType>
			</element>
			<element ref="caaml:operations"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<element name="operations">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element ref="caaml:Operation"/>
			</sequence>
		</complexType>
	</element>
	<!--***-->
	<complexType name="OperationRefType" final="#all">
		<choice>
			<element ref="caaml:Operation"/>
		</choice>
	</complexType>
	<element name="Operation" type="caaml:OperationType"/>
	<complexType name="OperationType" final="#all">
		<complexContent>
			<extension base="caaml:SourceType">
				<sequence>
					<element name="contactPerson" type="caaml:PersonRefType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute ref="xml:lang" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!--***-->
	<complexType name="PersonRefType">
		<choice>
			<element ref="caaml:Person"/>
		</choice>
	</complexType>
	<element name="Person" type="caaml:PersonType"/>
	<complexType name="PersonType" final="#all">
		<complexContent>
			<extension base="caaml:SourceType">
				<attribute ref="xml:lang" use="optional"/>
			</extension>
		</complexContent>
	</complexType>
	<!--**********************************************************-->
	<!--***           EXTERNAL DOC REFERENCE             ***-->
	<!--**********************************************************-->
	<element name="ExtFile" type="caaml:ExtFileType"/>
	<complexType name="ExtFileType">
		<sequence>
			<element name="metaDataProperty" minOccurs="0">
				<complexType>
					<sequence>
						<element name="MetaData" type="caaml:ExtFileMetaDataType"/>
					</sequence>
				</complexType>
			</element>
			<element name="description" type="string" minOccurs="0"/>
			<element name="fileReferenceURI" type="anyURI"/>
			<element ref="caaml:customData" minOccurs="0"/>
		</sequence>
		<attribute ref="gml:id" use="required"/>
	</complexType>
	<!--***-->
	<element name="extFiles">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element ref="caaml:ExtFile"/>
			</sequence>
		</complexType>
	</element>
	<!--**********************************************************-->
	<!--***           LOCATION INFORMATION                 ***-->
	<!--**********************************************************-->
	<element name="locRef" type="caaml:LocRefType"/>
	<complexType name="LocRefType">
		<attribute ref="xlink:href" use="required"/>
	</complexType>
	<!--***-->
	<element name="LocationCollection" substitutionGroup="gml:AbstractFeature" type="caaml:LocationCollectionType"/>
	<complexType name="LocationCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="metaDataProperty" minOccurs="0">
						<annotation>
							<documentation>Property element for location meta data</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element name="MetaData" type="caaml:LocMetaDataType"/>
							</sequence>
						</complexType>
					</element>
					<element ref="caaml:locations"/>
				</sequence>
				<!-- <attribute ref="gml:id" use="optional"/>
					<attribute ref="xml:lang" use="optional"/> -->
			</extension>
		</complexContent>
	</complexType>
	<!--***-->
	<element name="locations">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name="Region"/>
			</sequence>
			<attributeGroup ref="gml:AssociationAttributeGroup" />
		</complexType>
	</element>
	<element name="Region" substitutionGroup="gml:AbstractFeature" type="caaml:RegionType"/>
	<complexType name="RegionType" final="#all">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="metaDataProperty" minOccurs="0">
						<annotation>
							<documentation>Property element for location meta data</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element name="MetaData" type="caaml:LocMetaDataType"/>
							</sequence>
						</complexType>
					</element>
					<element name="description" type="string" minOccurs="0">
						<annotation>
							<documentation>Property element for description of location</documentation>
						</annotation>
					</element>
					<element name="name" type="string">
						<annotation>
							<documentation>Property element for name of location</documentation>
						</annotation>
					</element>
					<element name="regionSubType" type="string">
						<annotation>
							<documentation>Required property element for specifying sub type of region (forecast area, drainage,..)</documentation>
						</annotation>
					</element>
					<element name="centerPoint" type="gml:GeometryPropertyType" minOccurs="0">
						<annotation>
							<documentation>Property element for coordinates of center point</documentation>
						</annotation>
						<!-- <complexType>
							<sequence>
								<element ref="gml:Point"/>
							</sequence>
							</complexType> -->
					</element>
					<element name="outline" type="gml:GeometryPropertyType" minOccurs="0">
						<annotation>
							<documentation>Property element for coordinates of region outline</documentation>
						</annotation>
						<!-- <complexType>
							<sequence>
								<element ref="gml:Polygon"/>
							</sequence>
							</complexType> -->
					</element>
				</sequence>
				<!-- <attribute ref="gml:id" use="required"/>
					<attribute ref="xml:lang" use="optional"/> -->
			</extension>
		</complexContent>
	</complexType>
	<!--***-->
	<element name="AspectCollection" type="caaml:AspectCollectionType"/>
	<complexType name="AspectCollectionType">
		<sequence>
			<element name="metaDataProperty" minOccurs="0">
				<annotation>
					<documentation>Property element for location meta data</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="MetaData" type="caaml:LocMetaDataType"/>
					</sequence>
				</complexType>
			</element>
			<element ref="caaml:aspects"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<element name="aspects">
		<complexType>
			<sequence maxOccurs="unbounded">
				<choice>
					<element name="AspectPosition">
						<complexType>
							<complexContent>
								<extension base="caaml:AspectPositionType"/>
							</complexContent>
						</complexType>
					</element>
					<element name="AspectRange">
						<complexType>
							<complexContent>
								<extension base="caaml:AspectRangeType"/>
							</complexContent>
						</complexType>
					</element>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!--***-->
	<element name="validAspect" type="caaml:ValidAspectType">
		<annotation>
			<documentation>Property element for aspect of location</documentation>
		</annotation>
	</element>
	<complexType name="ValidAspectType" final="#all">
		<attribute ref="xlink:href" use="required"/>
	</complexType>
	<!--***-->
	<complexType name="AspectPositionType">
		<sequence>
			<element name="position" type="caaml:AspectBaseType"/>
		</sequence>
		<attribute ref="gml:id" use="required"/>
	</complexType>
	<complexType name="AspectRangeType">
		<sequence>
			<element name="beginPosition" type="caaml:AspectBaseType"/>
			<element name="endPosition" type="caaml:AspectBaseType"/>
		</sequence>
		<attribute ref="gml:id" use="required"/>
	</complexType>
	<simpleType name="AspectBaseType">
		<union memberTypes="gml:NilReasonEnumeration caaml:AspectBaseCardinalType caaml:AspectBaseNumType"/>
	</simpleType>
	<simpleType name="AspectBaseCardinalType">
		<restriction base="string">
			<enumeration value="N"/>
			<enumeration value="NE"/>
			<enumeration value="E"/>
			<enumeration value="SE"/>
			<enumeration value="S"/>
			<enumeration value="SW"/>
			<enumeration value="W"/>
			<enumeration value="NW"/>
			<enumeration value="n/a"/>
		</restriction>
	</simpleType>
	<simpleType name="AspectBaseNumType">
		<restriction base="double"/>
	</simpleType>
	<!--***-->
	<element name="ElevationCollection" type="caaml:ElevationCollectionType"/>
	<complexType name="ElevationCollectionType">
		<sequence>
			<element name="metaDataProperty" minOccurs="0">
				<annotation>
					<documentation>Property element for location meta data</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="MetaData" type="caaml:LocMetaDataType"/>
					</sequence>
				</complexType>
			</element>
			<element ref="caaml:elevations"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
		<attribute ref="xml:lang" use="optional"/>
	</complexType>
	<element name="elevations">
		<complexType>
			<sequence maxOccurs="unbounded">
				<choice>
					<element name="ElevationPosition">
						<complexType>
							<complexContent>
								<extension base="caaml:ElevationPositionType"/>
							</complexContent>
						</complexType>
					</element>
					<element name="ElevationRange">
						<complexType>
							<complexContent>
								<extension base="caaml:ElevationRangeType"/>
							</complexContent>
						</complexType>
					</element>
				</choice>
			</sequence>
		</complexType>
	</element>
	<!--***-->
	<element name="validElevation" type="caaml:ValidElevationType">
		<annotation>
			<documentation>Property element for elevation of location</documentation>
		</annotation>
	</element>
	<complexType name="ValidElevationType" final="#all">
		<choice minOccurs="0">
			<element name="ElevationPosition">
				<complexType>
					<complexContent>
						<extension base="caaml:ElevationPositionType"/>
					</complexContent>
				</complexType>
			</element>
			<element name="ElevationRange">
				<complexType>
					<complexContent>
						<extension base="caaml:ElevationRangeType"/>
					</complexContent>
				</complexType>
			</element>
		</choice>
		<attribute ref="xlink:href" use="optional"/>
	</complexType>
	<!--***-->
	<complexType name="ElevationPositionType">
		<sequence>
			<element name="position" type="caaml:ElevationBaseType"/>
		</sequence>
		<attribute name="uom" type="caaml:UomLengthType" use="required" fixed="m"/>
		<attribute ref="gml:id" use="optional"/>
	</complexType>
	<complexType name="ElevationRangeType">
		<sequence>
			<element name="beginPosition" type="caaml:ElevationBaseType" minOccurs="0"/>
			<element name="endPosition" type="caaml:ElevationBaseType" minOccurs="0"/>
		</sequence>
		<attribute name="uom" type="caaml:UomLengthType" use="required" fixed="m"/>
		<attribute ref="gml:id" use="optional"/>
	</complexType>
	<simpleType name="ElevationBaseType">
		<restriction base="integer">
			<minInclusive value="-500"/>
			<maxInclusive value="9000"/>
		</restriction>
	</simpleType>
	<!--***-->
	<!--**********************************************************-->
	<!--***                     TIME ELEMENTS                      ***-->
	<!--**********************************************************-->
	<element name="validTime" type="caaml:ValidTimeType">
		<annotation>
			<documentation>Property element for time reference</documentation>
		</annotation>
	</element>
	<!--***-->
	<complexType name="ValidTimeType" final="#all">
		<choice>
			<element ref="caaml:TimeInstant"/>
			<element ref="caaml:TimePeriod"/>
		</choice>
	</complexType>
	<!--***-->
	<element name="TimeInstant" type="caaml:TimeInstantType"/>
	<complexType name="TimeInstantType">
		<sequence>
			<element name="timePosition" type="gml:TimePositionType"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
	</complexType>
	<!--***-->
	<element name="TimePeriod" type="caaml:TimePeriodType"/>
	<complexType name="TimePeriodType">
		<sequence>
			<element name="beginPosition" type="gml:TimePositionType"/>
			<element name="endPosition" type="gml:TimePositionType"/>
		</sequence>
		<attribute ref="gml:id" use="optional"/>
	</complexType>
	<!--**********************************************************-->
	<!--***   DEFINTIION OF PROPERTY ELEMENTS     ***-->
	<!--**********************************************************-->
	<element name="comment" type="string">
		<annotation>
			<documentation>Property element for general comment</documentation>
		</annotation>
	</element>
	<!--***-->
	<element name="customData" type="caaml:CustomDataType">
		<annotation>
			<documentation>Property element for custom data</documentation>
		</annotation>
	</element>
	<complexType name="CustomDataType" final="#all">
		<sequence>
			<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<!--**********************************************************-->
	<!--***     MEASUREMENT TYPE DEFINITIONS        ***-->
	<!--**********************************************************-->
	<simpleType name="UomLengthType" final="#all">
		<restriction base="string">
			<enumeration value="cm"/>
			<enumeration value="mm"/>
			<enumeration value="m"/>
			<enumeration value="in"/>
			<enumeration value="ft"/>
		</restriction>
	</simpleType>
	<!--**********************************************************-->
</schema>
